<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="\static\styles.css">
</head>

<body> 

    <h1 align="center" style="color: white;">Bienvenido</h1>
    <p align="center" style="color: white;">Has iniciado sesión correctamente.</p>

     <div style="text-align: center; margin: 20px; padding: 15px; background: #333; border-radius: 5px;">
        <h3 style="color: #0a74da;">Total de Ventas Acumuladas</h3>
        <p id="totalVentas"   style="font-size: 24px; color: #5fde5f;">${{ "%.2f"|format(total_ventas) }}</p>
    </div>

    <center>
    <a href="{{ url_for('nueva_venta') }}"><button style="background-color:green; color:white">Nueva Venta</button></a>
        <a href="{{ url_for('inventario') }}"><button style="background-color: yellow;">Inventario</button></a>
        <a href="{{ url_for('movimientos') }}"><button style="background-color: red;color: white;">Movimientos</button></a>
    </center>
   <button style="width: 150px; height: 40px; position: fixed; bottom: 20px; right: 20px; background-color: red; color: white;"
        onclick="window.location.href='/logout'">Cerrar sesión</button>


</body>
</html>